{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "import-inspector",
      {
        "serverSideRequirePath": true
      }
    ]
  ]
}
